mixin logo()
    .logo
        .logo__img-container
            svg.icon
                use(xlink:href="images/icons/sprite.svg#logo")
        .logo__text-container Logotype

mixin article-preview(datetime, title, content)
    article.article-preview
        .article-preview__datetime-container
            time.datetime= datetime
        .article-preview__article-title-container
            h3.article-title= title
        .article-preview__content= content

mixin main-slide(datetime, title, src, previewSrc)
    .slider__slide-container(style="background-image: url(" + src + ")")
        .slider__caption-container
            .datetime.datetime_light datetime
            h3.slider__title title
        .slider__preview
            img.slider__preview-img(src= previewSrc)

mixin acco(title, content)
    .acco__title-container
        h3.acco__title= title
    .acco__content= content

mixin input_text(label)
    .form__input-container
        input.form__input_text(placeholder= label type="text")
        .form__input-error-container
            .form__input-error Some error

mixin input_checkbox(label)
    .form__input-container
        input.form__input_checkbox(type="checkbox")
        label.form__input-checkbox-label= label
        .form__input-error-container
            .form__input-error Some error

mixin input_submit(label)
    .form__input-container
        input.form__input_submit(type="submit" value= label)

- var shortText = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi consequuntur cumque deleniti distinctio eligendi esse illum natus necessitatibus vero. Excepturi facilis fugiat, laboriosam minima optio possimus temporibus? Ducimus, labore!';

doctype html
html(lang="ru")
    head
        title "SS test task"
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="main.min.css")
    body
        .wrapper
            aside.aside.aside_left
                .aside__container.aside__container_menu
                    a.aside__link.aside__link_menu(href="#")
                .aside__container.aside__container_scrollup
                    a.aside__link.aside__link_scrollup(href="#")
            aside.aside.aside_right
                .aside__container.aside__container_login
                    a.aside__link.aside__link_login(href="#")
                .aside__container.aside__container_search
                    a.aside__link.aside__link_search(href="#")
                .aside__socials
                    a.aside__socials-link(href="#") Instagram
                    a.aside__socials-link(href="#") Twitter
                    a.aside__socials-link(href="#") Facebook
                .aside__container.aside__container_copyright
                    a.aside__link.aside__link_copyright(href="#")
            .container
                header.header
                    .header__left-column
                        .header__logo-container
                            +logo()
                        .header__language-container
                            .language
                                select.language__select
                                    option.language__option in English
                                    option.language__option in Russian
                    .header__right-column
                        nav.menu
                            ul.menu__list
                                li.menu__item.menu__item_new
                                    a.menu__link(href='#') Features
                                li.menu__item
                                    a.menu__link(href='#') Blog
                                li.menu__item
                                    a.menu__link(href='#') About
                main
                    .main-container
                        section.caption
                            .caption__title-container
                                h2.title How I Lost The Secret Of Dazzling Success For 20 Years
                            button.caption__button Explore now
                            span.caption__tip 6 Powerful Tips To Creating Testimonials That Sell Your Products Fast
                        section.posts
                            .posts__container
                                ul.posts__list
                                    li.posts__item
                                        .posts__item-container
                                            .posts__img-container
                                                img.posts__img(src='images/content.jpg')
                                            +article-preview('04 Jul 2018',
                                            'Research In Advertising',
                                            shortText)
                                    li.posts__item
                                        .posts__item-container
                                            .posts__img-container
                                                img.posts__img(src='images/content.jpg')
                                            +article-preview('04 Jul 2018',
                                            'Research In Advertising',
                                            shortText)
                                    li.posts__item
                                        .posts__item-container
                                            .posts__img-container
                                                img.posts__img(src='images/content.jpg')
                                            +article-preview('29 Jun 2018',
                                            'Free Classifieds Using Them To Promote Your Stuff Online',
                                            shortText)
                            .popular__container
                                .popular__caption-line
                                    .popular__title-container
                                        h3.popular__title Popular
                                    .popular__tabs-container
                                        ul.popular__tabs
                                            li.popular__tab.popular__tab_active Today
                                            li.popular__tab This week
                                            li.popular__tab Month
                                ul.posts__list
                                    li.posts__item
                                        +article-preview('29 Jun 2018',
                                        'It S Classified How To Utilize Free Classified Ad Sites To Boost Business',
                                        shortText)
                                    li.posts__item
                                        +article-preview('29 Jun 2018',
                                        '12 Handy Tips For Generating Leads Through Cold Calling',
                                        shortText)
                                    li.posts__item
                                        +article-preview('29 Jun 2018',
                                        'Make Money Online Through Advertising',
                                        shortText)
                    section.slider
                        .swiper-wrapper
                            .swiper-slide
                                +main-slide('27 Nov 2018',
                                'Consumer Psychology In The Industrial And Manufacturing Equipment Marketplace',
                                'images/slider.jpg',
                                'images/slider.jpg')
                            .swiper-slide
                                +main-slide('27 Nov 2018',
                                'Consumer Psychology In The Industrial And Manufacturing Equipment Marketplace',
                                'images/slider.jpg',
                                'images/slider.jpg')
                            .swiper-slide
                                +main-slide('27 Nov 2018',
                                'Consumer Psychology In The Industrial And Manufacturing Equipment Marketplace',
                                'images/slider.jpg',
                                'images/slider.jpg')
                        button.slider__button-left
                        button.slider__button-right

                    section.blog
                        .blog__main
                            .blog__title
                                h2.title How I Lost The Secret Of Dazzling Success For 20 Years
                            .blog__author-container
                                .author
                                    .author-img-container
                                        img.author-img(src="images/author.png")
                                    .author__caption-container
                                        .article-title Harold Holland
                                        .author__info Editor in chief, Entrepreneur mag. Host of the podcast Pessimists Archive.
                            .blog__content-container.
                                <p>
                                    There is such a lot of talk going around about branding, but what exactly is your brand and how do you use it to help you reach more people and market your products or services? Your brand is the core of your marketing, the central theme around your products and services.
                                </p>
                                <p>
                                    Your brand is not your Logo or your Company Name, unless of course you are Microsoft or the Yellow Pages online directory.
                                </p>
                                <ul>
                                    <li>Study 800 Numbers Still Popular With Advertisers</li>
                                    <li>A Right Media Mix Can Make The Difference</li>
                                    <li>Advertise No Matter If You Are Big Or Small</li>
                                </ul>
                                <h2>Getting Free Publicity For Your Business</h2>
                                <p>
                                    For people to come and hire you, or buy from you in droves, your brand needs to be crystal clear, attractive, exciting and powerful. In fact your brand needs to be powerful enough to rouse your customers into action, and at the same time it needs to actively express you, what you’re about and your uniqueness.
                                </p>
                                <p>
                                    Once you’re sure of your brand you also gain a tangible and easy way of talking to people about what you do. It makes it so much easier to do your marketing when you have it clear in your mind what it is you’re selling in the first place. When you’re creating your brand you are creating a memorable marketing message that will inspire people to take action and choose you over your competitors.
                                </p>
                            .blog__load-more-container
                                button.load__more Load more
                        aside.blog_aside
                            .acco
                                ul.acco__list
                                    li.acco__item.active
                                        +acco('The Function Of The Logo',
                                        shortText)
                                    li.acco__item
                                        +acco('The Function Of The Logo',
                                        shortText)
                                    li.acco__item
                                        +acco('The Function Of The Logo',
                                        shortText)
                                    li.acco__item
                                        +acco('The Function Of The Logo',
                                        shortText)
                                    li.acco__item
                                        +acco('The Function Of The Logo',
                                        shortText)
                            .pic-preview
                                .pic-preview__img-container
                                    img.pic-preview__img(src='images/content.jpg')
                                    .pic-preview__caption
                                        time.datetime.datetime_light 27 Jul 2018
                                        h3.pic-preview__title Why Do You Need To Join An Affiliate Marketing Network
                    section.feedback
                        .feedback-container
                            .feedback__title-container
                                h2.title Choosing The Best Audio Player Software For Your Computer
                            .feedback__caption-container If you having trouble about creating a good 4 color poster print, a 4 color printing company that has 4 color poster printing service may be able to help you made your poster.
                            .feedback__form-container
                                form.form
                                    .form__input-container
                                        input.form__input_text(placeholder= "First name" type="text")
                                        .form__input-error-container.form__input-error-container_show
                                            .form__input-error Some error Some error
                                    +input_text('Last name')
                                    +input_text('Email')
                                    +input_text('Address')
                                    +input_checkbox('I confirm and agree to the processing of my data and information about myself')
                                    +input_submit('Send report')
                footer.footer
                    .footer__left-column
                        .footer__logo-container
                            +logo()
                        nav.footer__menu
                            ul.footer__menu-list
                                li.footer__menu-item
                                    a.footer__menu-link(href='#') What’s new
                                li.footer__menu-item
                                    a.footer__menu-link(href='#') Blog
                                li.footer__menu-item
                                    a.footer__menu-link(href='#') Explore
                                li.footer__menu-item
                                    a.footer__menu-link(href='#') About
                                li.footer__menu-item
                                    a.footer__menu-link(href='#') All features
                                li.footer__menu-item
                                    a.footer__menu-link(href='#') Documentation
                                li.footer__menu-item
                                    a.footer__menu-link(href='#') Price
                                li.footer__menu-item
                                    a.footer__menu-link(href='#') Contact us
                    .footer__right-column
                        address.address
                            address.address__location
                                a.address__location-link(href='#') 0547 Leola Summit Apt. 220
                            address.address__phone
                                a.address__phone-link(href='tel:582-261-9142') 582-261-9142
                            address.address__email
                                a.address__email-link(href='mailto:mozelle_heathcote@hotmail.com') mozelle_heathcote@hotmail.com
        script(src="main.min.js")